.container{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 400px;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
}
h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    margin: auto;
    max-width: 800px;
  }
  form label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  label {
    color: black;
  }
  input {
    background: rgba(0, 0, 0, 0.2);
    padding: 0.8rem;
    color: black;
    border: none;
    font-size: 1rem;
    resize: none;
  }
  